html,
body {
  height: 100%;
}

img.mb-4{
  width: 40%;
  text-align: center;
  display: block;
  margin: auto;
}

h1 {
  color: #fff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

form {
  margin-top: 6em;
}


body {
  display: block;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 40px;
  background: linear-gradient(-65deg,#000, #000f1c, #012240, #003c71, #0055a1);
                background-size: 500% 300%;
                animation: gradient 15s ease infinite;
                }
            @keyframes gradient {
                0% {
                    background-position: 0% 50%;
                }
                50% {
                    background-position: 100% 50%;
                }
                100% {
                    background-position: 0% 50%;
                }
}

.form-signin {
  align-items: center;
  padding: 15px;
  margin: 50px;
  margin: auto;
  color: #fff;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

input#floatingInput {
  display: block;
  margin: auto;
  width: 40%;
  font-size: 1.2em;
}

input#floatingPassword {
  display: block;
  margin: auto;
  width: 40%;
  font-size: 1.2em;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  width: 80%;
  padding: 10px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 10px;
  width: 80%;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.checkbox {
  display: block;
  margin: 20px auto;
  text-align: center;
  font-size: 1em;
}

label {
  color: white;
  font-size: 1.2em;
}

.form-signin ::placeholder {
  color: hsla(0, 0%, 100%, 0.79);
  font-size: 1.1em;
}

.btn {
  display: block;
  margin: auto;
  cursor: pointer;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  color: #fff;
  width: 30%;
  padding: 10px 40px;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
}


.btn:hover {
  transition: .4s ease-in;
  background: #FFF;
  color: #003c71;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}


